.shop-page {
    padding-top: 150px;
}

.shop-header {
    text-align: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.shop-title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.shop-subtitle {
    font-size: 20px;
    color: rgba(255,255,255, 0.7);
    max-width: 800px;
    margin: 0 auto;
}

.shop-product-card {
    border-radius: 20px;
    padding: 25px;
}

.shop-product-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    margin: 20px 0;
}

.shop-product-info {
    margin-top: 15px;
}

.shop-product-category {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    display: block;
}

.shop-buy-button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255, 0.2);
    background-color: rgba(255,255,255, 0.1);
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.shop-buy-button:hover {
    background-color: rgba(255,255,255, 0.3);
}

.shop-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

.products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}